/* CSS Document */

/* HTML,BODY PART */

html,body {
	padding: 0;
	margin:0;
	background-color: #F2F2E6;
}

/* HEADER PART */

header {
	display: flex;
	border: 2px solid #b9e8b7;
	background-color:#D6FFE0;
	margin-bottom: 10px;
}


header .picture-logo {
	justify-content: flex-start;
}

header .title {
	justify-content: flex-end;
	font-size: 40px;
	color: #0b9c88;	
}

/* NAV PART */

nav {
        width: 100%;
        background-color: #B7E8D1;
        padding-bottom: 1.25rem;
        padding-top: 1.25rem;
	border-radius: 20px;
}

nav li {
        list-style-type : none;    
        float: left;
}

nav ul {
        margin: 0rem;
        padding: 0rem;
}

nav a {
        display :inline-block;
	text-decoration: none;
        padding: 1.25rem 1.87rem;
        color: #0b9c88;
        text-transform: uppercase;    
        font-size: 0.93rem;
}

.menu {
        display: table;     
        margin: 0 auto;
}

.accueil-page:hover {     
        border-top: 5px solid #58d68d;   
        background-color: #D6FFE0;
}

.info-page:hover {
        border-top: 5px solid #58d68d;
        background-color: #D6FFE0;
}

.horaire-page:hover {
        border-top: 5px solid #58d68d;
        background-color: #D6FFE0;
}
.discipline-page:hover {
        border-top: 5px solid #58d68d;
        background-color: #D6FFE0;
}

.contact-page:hover {
        border-top: 5px solid #58d68d;
        background-color: #D6FFE0;
}

.urgence-page:hover {
        border-top: 5px solid #58d68d;
        background-color: #D6FFE0;
}

/* ASIDE PART */

aside {
	float: right;
	color: #0b9c88;
	background-color: #B7E8D1;
	border-radius: 20px;
	margin-top: 10px;
}

.phone-logo {
	width: 7.1rem;
	height: 7.1rem;

}

.info-importante {
	border: 1px solid #0b9c88;
        background-color: #0b9c88;
        color: white;
        box-shadow: 1px 1px 1px 1px #0b9c88;
	text-decoration: none;
	text-align: center;
}

.mail-logo {
        width: 7.1rem;
        height: 7.1rem;

}


/* SECTION PART */

.presentation {
	display: flex;
	color: #0b9c88;
	align-content: center;
	background-color: #B7E8D1;
	border-radius: 20px;
	margin-top: 10px;
	width: 80%;
}

figcaption .title-ECM {
        text-align: center;
        border: 2px solid #0b9c88;
	background-color: #0b9c88;
	color: white;
        box-shadow: 2px 2px 2px 2px #0b9c88;
}

.text {
	font-size: 1.1rem;
}

.EMC-picture {
	width: 25rem;
	height: 15rem;
}

.EMC-picture:hover {
	box-shadow: 5px 5px 5px 5px #0b9c88;
}

/* ARTICLE PART */

.doctolib {
	background-color: #0b9c88;
	border-radius: 20px;
	text-decoration: none;
	color: white;
}

.steto {
	width: 25rem;
	height: 15rem;
}

.steto:hover {
	box-shadow: 5px 5px 5px 5px #0b9c88;
}

article {
	display: flex;
	color: #0b9c88;
        align-content: center;
        background-color: #B7E8D1;
        border-radius: 20px;
        margin-top: 10px;
        width: 80%;

}

.honoraires {
	justify-content: center;
	width: 100%;
}

.conges {
	justify-content: center;
	width: 100%;
}

/* FOOTER PART */

footer {
	background-color: #D6FFE0;
	color: #0b9c88;
	border: 2px solid #b9e8b7;
	margin-top: 10px;	
}

