/* CSS Document */


/* HTML, BODY PART */

html,body {
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin:0;
	background-color: #F2F2E6;
}

/* HEADER PART */

header {
	display: flex;
	border: 2px solid #b9e8b7;
	background-color:#D6FFE0;
	margin-bottom: 10px;
}


header .picture-logo {
	justify-content: flex-start;
}

header .title {
	justify-content: flex-end;
	font-size: 40px;
	color: #0b9c88;	
}

/* NAV PART */

nav {
        width: 100%;
        background-color: #B7E8D1;
        padding-bottom: 1.25rem;
        padding-top: 1.25rem;
	border-radius: 20px;
}

nav li {
        list-style-type : none;    
        float: left;
}

nav ul {
        margin: 0rem;
        padding: 0rem;
}

nav a {
        display :inline-block;
	text-decoration: none;
        padding: 1.25rem 1.87rem;
        color: #0b9c88;
        text-transform: uppercase;    
        font-size: 1rem;
}

.menu {
        display: table;     
        margin: 0 auto;
}

.accueil-page:hover {     
        border-top: 5px solid #58d68d;   
        background-color: #D6FFE0;
}

.info-page:hover {
        border-top: 5px solid #58d68d;
        background-color: #D6FFE0;
}

.horaire-page:hover {
        border-top: 5px solid #58d68d;
        background-color: #D6FFE0;
}
.discipline-page:hover {
        border-top: 5px solid #58d68d;
        background-color: #D6FFE0;
}

.contact-page:hover {
        border-top: 5px solid #58d68d;
        background-color: #D6FFE0;
}

.urgence-page:hover {
        border-top: 5px solid #58d68d;
        background-color: #D6FFE0;
}

/* ASIDE PART */

aside {
	float: right;
	color: #0b9c88;
	background-color: #B7E8D1;
	border-radius: 20px;
	margin-top: 10px;
}


.phone-logo {
	width: 6.4rem;
	height: 6.4rem;

}

.info-importante {
	border: 1px solid #0b9c88;
        background-color: #0b9c88;
        color: white;
        box-shadow: 1px 1px 1px 1px #0b9c88;
	text-decoration: none;
	text-align: center;
}

.mail-logo {
        width: 6.4rem;
        height: 6.4rem;

}


/* SECTION PART */

.presentation {
	display: flex;
	color: #0b9c88;
	align-content: center;
	background-color: #B7E8D1;
	border-radius: 20px;
	margin-top: 10px;
	width: 80%;
}

.title-ECM {
        text-align: center;
        border: 2px solid #0b9c88;
	background-color: #0b9c88;
	color: white;
        box-shadow: 2px 2px 2px 2px #0b9c88;
}

.text {
	font-size: 1.1rem;
}

.EMC-picture {
	width: 25rem;
	height: 15rem;
}

.EMC-picture:hover {
	box-shadow: 5px 5px 5px 5px #0b9c88;
}


table {
	display: flex;
	justify-content: center;
        color: #0b9c88;
        background-color: #B7E8D1;
        border-radius: 20px;
        margin-top: 10px;
        width: 100%;
	font-size: 30px;

}

tbody{
	border : 5px solid #0b9c88;
	width: 50%;
}

td,tr {
	border : 1px inset #0b9c88;
}

.info-medecin {
        display: flex;
        color: #0b9c88;
        background-color: #B7E8D1;
        border-radius: 20px;
        margin-top: 10px;
}

.doctor {
	width: 15rem;
        height: 15rem;
}

.doctor:hover {
        box-shadow: 5px 5px 5px 5px #0b9c88;
}

.name-doctor {

        border: 2px solid #0b9c88;
        background-color: #0b9c88;
        color: white;
        box-shadow: 2px 2px 2px 2px #0b9c88;
}
.info-doctor {
	font-size: 30px;
}

.spe {
	align-self: center;
	font-size: 20px;
}

section iframe, form {
	color: #0b9c88;
        background-color: #B7E8D1;
        border-radius: 20px;
        margin-top: 10px;
}

iframe {
	width: 100%;
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 20rem;
}

/* ARTICLE PART */

.doctolib {
	background-color: #0b9c88;
	border-radius: 20px;
	text-decoration: none;
	color: white;
}

.steto {
	width: 25rem;
	height: 15rem;
}

.steto:hover {
	box-shadow: 5px 5px 5px 5px #0b9c88;
}

article {
	display: flex;
	color: #0b9c88;
        align-content: center;
        background-color: #B7E8D1;
        border-radius: 20px;
        margin-top: 10px;
        width: 80%;

}

.honoraires {
	justify-content: center;
	width: 100%;
	font-size: 30px;
}

.honoraires p {
	font-size: 30px;
}

.conges p {
	font-size: 30px;
}

.conges {
	justify-content: center;
	width: 100%;
	font-size: 30px;
}

.urgency {
	width: 25rem;
	height: 15rem;
}

.urgency-list {
	align-self: center;
	font-size: 20px;
}

.urgency-text {
	width: 100%;
}

/* FOOTER PART */

footer {
	background-color: #D6FFE0;
	color: #0b9c88;
	border: 2px solid #b9e8b7;
	margin-top: 10px;	
}

/* MEDIAS QUERIES PART */

@media screen and (max-width: 760px){
        aside {
                display: none;
        }
        .doctolib-link{
                width: 100%;
        }
        .presentation {
                width: 100%;
        }
        .steto {
                display: none;
        }
	.info-prix {
                font-size: small;
        }
        .info-conges {
                font-size: small;
        }

        iframe {
                display: none;
        }
        .urgency {
                display: none;
        }
        .EMC-picture {
                display: none;
        }
        .logo-picture {
                width: 80px;
                height: 80px;
        }
        table,tbody,td,tr {
                font-size: small;
        }
	.info-doctor,.spe {
                display: none;
        }
        .doctor {
                width: 20px;
                height: 20px;
        }
}

@media screen and (min-width: 760px) and (max-width: 1050px){
	aside {
                display: none;
        }
	.doctolib-link{
                width: 100%;
        }
	iframe {
                display: none;
        }
	.presentation {
                width: 100%;
        }
	.info-prix {
		font-size: large;
        }
        .info-conges {
                font-size: large;
        }
	.urgency {
		width: 20rem;
		height: 10rem;
	}	
}
